<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    you are logged in as: {{ user.Username }}
    <a href=" {% url 'user:logout' %}">logout</a>

    <hr>

    <form action="" method="post">
        {% csrf_token %}

        <p>search: <input type="text" name="search"/></p>
        <p><button>search</button></p>

    </form>

    <hr>

    <h2>
        <a href="">post something</a>
    </h2>

    <hr>

    <h2>posts</h2>
    <ul>
        {% for post in posts %}
            <li>
                <a href="{% url "post:detail" post.id %}">
                    {{ post.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>